<h1>Welcome to the Wishlist</h1>

<%# @bookmarks.each do |bookmark| %>
  <!-- <p><%#= bookmark.weekend[:city_from] %> to <%#= bookmark.weekend[:city_to] %> <%#= bookmark.weekend[:price] %> €</p> -->
  <!-- <p><%#= bookmark.weekend.id %></p> -->
<%# end %>
<div class="weekends-wrapper">
<div class="weekend-container">
<div class="row">

<% @wish_list_weekends.each do |bookmark| %>
  <%#= render partial: "shared/weekendcard", locals: { weekend: weekend} %>
  <%#= render "folder/file" %>
  <div class="col-xs-6 col-sm-3 col-md-2">
        <div class="card">
          <div class="card-header">
            <h1 class="card-title"><%= Time.parse(bookmark.weekend[:go_flight]["dTime"]).strftime("%d/%m") %> - <%= Time.parse(bookmark.weekend[:return_flight]["dTime"]).strftime("%d/%m") %></h1>
            <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: 'Supprimer ce weekend ?'} do %>
              <i class="far fa-trash-alt bookmark-trash"></i>
            <% end %>
          </div>
          <div class="card-body">
            <div class="card-body-element">
              <div class="column-one">
                <p><%= bookmark.weekend[:go_flight]["airport_from"] %></p>
                <p><%= Time.parse(bookmark.weekend[:go_flight]["dTime"]).strftime("%H:%M") %></p>
              </div>
              <div class="column-two">
                <p><i class="fas fa-plane"></i></p>
                <p><img src=<%="https://images.kiwi.com/airlines/64/#{bookmark.weekend[:go_flight]["airline"]}.png"%> alt=<%=  bookmark.weekend[:go_flight]["airline"]%> class="airline-img"></p>
              </div>
              <div class="column-three">
                <p><%= bookmark.weekend[:go_flight]["airport_to"] %></p>
                <p><%= Time.parse(bookmark.weekend[:go_flight]["aTime"]).strftime("%H:%M") %></p>
              </div>
            </div>

            <div class="card-body-element">
              <div class="column-one">
                <p><%= bookmark.weekend[:return_flight]["airport_from"] %></p>
                <p><%= Time.parse(bookmark.weekend[:return_flight]["dTime"]).strftime("%H:%M") %></p>
              </div>
              <div class="column-two">
                <p><i class="fas fa-plane fa-rotate-180"></i></p>
                <p><img src=<%="https://images.kiwi.com/airlines/64/#{bookmark.weekend[:return_flight]["airline"]}.png"%> alt=<%=  bookmark.weekend[:return_flight]["airline"]%> class="airline-img"></p>
              </div>
              <div class="column-three">
                <p><%= bookmark.weekend[:return_flight]["airport_to"] %></p>
                <p><%= Time.parse(bookmark.weekend[:return_flight]["aTime"]).strftime("%H:%M") %></p>
              </div>
            </div>
          </div>
          <div class="bpk-ticket__notch">
            <div class="bpk-ticket__notch--left"></div>
            <div class="bpk-ticket__notch--right"></div>
            <%= link_to(bookmark.weekend[:booking_link], class: "card-footer") do%>
            <div class="price">
              <h1><%= bookmark.weekend[:price] %> €</h1>
            </div>
            <% end %>
          </div>

        </div>
      </div>
<% end %>
</div>
</div>
</div>
