<div class="navbar-wagon">
    <h1 class="navbar-logo">Weekend<span class="navbar_logo_r_color">R</span></h1>
  <div class="search_bar_container nav_search_bar_container">
    <div class="icon first-icon search-navbar-size">
      <i class="fas fa-map-marker-alt"></i>
    </div>
    <div class="search_bar_from">
      <%= form_tag weekends_path, method: :get do %>
      <%= text_field_tag :from,
      params[:from],
      class: "search-form-inline nav-search-form-inline",
        id: "search-from",
        autocomplete: "off",
        placeholder: "Départ"
        %>
      <%= hidden_field_tag 'code_from', params[:code_from], id: "iataFrom" %>
    </div>
    <div class="icon search-navbar-size">
      <i class="fas fa-map-marker-alt"></i>
    </div>
    <div class="search_bar_to">
      <%= text_field_tag :to,
      params[:to],
      class: "search-form-inline nav-search-form-inline",
        id: "search-to",
        autocomplete: "off",
        placeholder: "Où allez-vous ?"
        %>
      <%= hidden_field_tag 'code_to', params[:code_to], id: "iataTo" %>
    </div>
    <div class="icon search-navbar-size">
      <i class="fas fa-calendar-minus"></i>
    </div>
    <div class="search_options">
      <%= select_tag 'format',
      options_for_select([['2 jours', 2], ['3 jours', 3]],
      {:class => 'format-button-option'} ),
      {:class => 'format-button nav-search-form-inline'}
      %>
    </div>
    <div class="icon search-navbar-size">
      <i class="fas fa-user-plus"></i>
    </div>
     <div class="search_options">
    <div class="select_people_num">
      <%= select_tag 'pers',
      options_for_select([['1 pers.', 1], ['2 pers.', 2], ['3 pers.', 3], ['4 pers.', 4], ['5 pers.', 5]],
      {:class => 'format-button-option'} ),
      {:class => 'format-button nav-search-form-inline'}
      %>
    </div>
  </div>
    <div class="research_button_container">
      <%= button_tag type: "submit", class: "research-button-navbar" do %>
      <i class="fas fa-arrow-right"></i>
      <% end %>
      <ul id="results-from">
      </ul>
      <ul id="results-to">
      </ul>
      <% end %>
    </div>
  </div>


  <!-- Right Navigation -->

  <div class="navbar-wagon-right">
      <%= link_to bookmarks_path, class: "navbar-wagon-item navbar-wagon-link" do %>
      <p>Mes weekends <i class="fas fa-heart"></i></p>
      <% end %>
    <% if user_signed_in? %>
    <div class="navbar-wagon-item">
      <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/40x40" %>
      <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    </div>
    <% else %>
      <h2 id="connect_with">connect with</h2>
      <%= link_to omniauth_authorize_path(:user, :facebook) do%>
        <%= image_tag "http://elanajohnson.com/wp-content/uploads/2016/07/Facebook-1.png", class: "avatar", id: "navbar-wagon-menu" %>
      <% end %>
    <% end %>
  </div>
</div>



