<div class="navbar-wishlist">
  <!-- Left Logo -->
   <%= link_to root_path do %>
    <h1 class="navbar-logo">Weekend<span class="navbar_logo_r_color">R</span></h1>
  <% end %>
  <div class="search_bar_container nav_search_bar_container">
  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <% if user_signed_in? %>
      <div class="navbar-wagon-item">
      <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/40x40" %>
      <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    </div>
    <% else %>
      <h2 id="connect_with">connect with</h2>
      <%= link_to omniauth_authorize_path(:user, :facebook) do%>
        <%= image_tag "http://elanajohnson.com/wp-content/uploads/2016/07/Facebook-1.png", class: "avatar", id: "navbar-wagon-menu" %>
      <% end %>
    <% end %>
  </div>
</div>
</div>

