<div class="home_container" style="background-image: linear-gradient(150deg, rgba(0, 91, 234, 0.8), rgba(0, 198, 251, 0.5)), url('http://e-sushi.fr/imagearticle/2015/08/norway_fjord-wide.jpg');background-repeat:no-repeat;background-position: center; ">
  <div class="search_bar_container">
    <div class="search_bar_from">
      <%= form_tag weekends_path, method: :get do %>
      <%= text_field_tag :from,
      params[:from],
      class: "search-form-inline",
        id: "search-from",
        autocomplete: "off",
        placeholder: "Départ"
        %>
    </div>
    <div class="search_bar_to">
      <%= text_field_tag :to,
      params[:to],
      class: "search-form-inline",
        id: "search-to",
        autocomplete: "off",
        placeholder: "Où allez-vous ?"
        %>
    </div>
    <%= hidden_field_tag 'code_from', '', id: "iataFrom" %>
    <%= hidden_field_tag 'code_to', '', id: "iataTo" %>

    <%= select_tag 'format', options_for_select([['Weekend de 2 jours', 2], ['Weekend de 3 jours', 3]]) %>

    <!-- <select class="dropdown-weekend-type">
      <option value="2" selected="selected">WE de 2 jours</option>
      <option value="3">WE de 3 jours</option>
    </select> -->
  </div>

  <div class="research_button_container">
    <%= submit_tag 'Rechercher', class: "research-button" %>
    <ul id="results-from">
    </ul>
    <ul id="results-to">
    </ul>
    <% end %>
  </div>
</div>
