<div class="weekends-filtres">
  <h2>go</h2>
  <div id="time-range">
    <p>Time range: <span class="slider-time" data-go-time-from-minutes="<%= @go_time_from_minutes %>">
    <% if params[:go_time_from] %>
        <%= params[:go_time_from] %>
    <% else %>
        6:00 PM
    <% end %>
      </span> -
      <span  class="slider-time2" data-go-time-to-minutes="<%= @go_time_to_minutes %>">
    <% if params[:go_time_to] %>
        <%= params[:go_time_to] %>
    <% else %>
        11:59 PM
    <% end %>
      </span>
    </p>
    <div class="sliders_step1">
      <div id="slider-range"></div>
    </div>
  </div>
  <h2>return</h2>
  <div id="time-range">
    <p>Time range: <span class="return-slider-time" data-return-time-from-minutes="<%= @return_time_from_minutes %>">
    <% if params[:return_time_from] %>
        <%= params[:return_time_from] %>
    <% else %>
        6:00 PM
    <% end %>
      </span> -
      <span  class="return-slider-time2" data-return-time-to-minutes="<%= @return_time_to_minutes %>">
    <% if params[:return_time_to] %>
        <%= params[:return_time_to] %>
    <% else %>
        11:59 PM
    <% end %>
      </span>
    </p>
    <div class="sliders_step1">
      <div id="return-slider-range"></div>
    </div>

  </div>
</div>

<div class="filter-form" style="margin-top: 20px">
  <%= form_tag weekends_path, method: :get do%>
  <%= hidden_field_tag 'go_time_from', '', id: "go_time_from"%>
  <%= hidden_field_tag 'go_time_to', '', id: "go_time_to"%>
   <%= hidden_field_tag 'return_time_from', '', id: "return_time_from"%>
  <%= hidden_field_tag 'return_time_to', '', id: "return_time_to"%>

  <%= hidden_field_tag :from, @code_from%>
  <%= hidden_field_tag :to, @code_to%>
  <%= hidden_field_tag :format, @format %>
  <%= submit_tag "filtrer", class: "research-button" %>
  <% end %>
</div>

<div class="weekends-wrapper">
  <div class="weekends-container">
  <div class="filters">
    <div class="filter">

    </div>
  </div>

    <div class="row">
      <% @results.each_with_index do |weekend, index| %>

      <div class="col-xs-6 col-sm-3 col-md-2">
        <div class="card">
          <div class="card-header">
            <h1 class="card-title"><%= weekend[:go_flight][:dTime].strftime("%d/%m") %> - <%= weekend[:return_flight][:dTime].strftime("%d/%m") %></h1>
          </div>
          <div class="card-body">
            <div class="card-body-element">
              <div class="column-one">
                <p><%= weekend[:go_flight][:airport_from] %></p>
                <p><%= weekend[:go_flight][:dTime].strftime("%H:%M") %></p>
              </div>
              <div class="column-two">
                <p><i class="fas fa-plane"></i></p>
                <p><img src=<%="https://images.kiwi.com/airlines/64/#{weekend[:go_flight][:airline]}.png"%> alt=<%=  weekend[:go_flight][:airline]%> class="airline-img"></p>
              </div>
              <div class="column-three">
                <p><%= weekend[:go_flight][:airport_to] %></p>
                <p><%= weekend[:go_flight][:aTime].strftime("%H:%M") %></p>
              </div>
            </div>

            <div class="card-body-element">
              <div class="column-one">
                <p><%= weekend[:return_flight][:airport_from] %></p>
                <p><%= weekend[:return_flight][:dTime].strftime("%H:%M") %></p>
              </div>
              <div class="column-two">
                <p><i class="fas fa-plane fa-rotate-180"></i></p>
                <p><img src=<%="https://images.kiwi.com/airlines/64/#{weekend[:return_flight][:airline]}.png"%> alt=<%=  weekend[:return_flight][:airline]%> class="airline-img"></p>
              </div>
              <div class="column-three">
                <p><%= weekend[:return_flight][:airport_to] %></p>
                <p><%= weekend[:return_flight][:aTime].strftime("%H:%M") %></p>
              </div>
            </div>
          </div>
          <div class="bpk-ticket__notch">
            <div class="bpk-ticket__notch--left"></div>
            <div class="bpk-ticket__notch--right"></div>

              <%= link_to(weekend[:booking_link], class: "card-footer") do%>
            <div class="price">
              <h1><%= weekend[:price] %> €</h1>
            </div>
            <% end %>

          </div>

        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- <div class="wrapper">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2">
          <div class="card">
            <div class="card-header">
              <h1 class="card-title">05/03 - 07/03</h1>
            </div>
            <div class="card-body">
              <div class="card-body-element">
                <div class="column-one">
                  <p>ORY</p>
                  <p>20:05</p>
                </div>
                <div class="column-two">
                  <p><i class="fas fa-plane"></i></p>
                  <p>AF</p>
                </div>
                <div class="column-three">
                  <p>MAD</p>
                  <p>22:05</p>
                </div>
              </div>
              <div class="card-body-element">
                <div class="column-one">
                  <p>MAD</p>
                  <p>21:05</p>
                </div>
                <div class="column-two">
                  <p><i class="fas fa-plane"></i></p>
                  <p>VY</p>
                </div>
                <div class="column-three">
                  <p>CDG</p>
                  <p>23:05</p>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <h1>220 €</h1>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
-->

