<h2 class="h2">Meilleurs prix pour les 10 prochains weekends :</h2>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Weekend du</th>
      <th scope="col">N° vol aller</th>
      <th scope="col">N° vol retour</th>
      <th scope="col">Comp aller</th>
      <th scope="col">Comp retour</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
    <% @response.wknd_instances_creation.each_with_index do |weekend, index| %>
    <tr>
      <th scope="row"><%= weekend[:go_flight][:dTime].strftime("%d/%m") %> au <%= weekend[:return_flight][:dTime].strftime("%d/%m") %></th>
      <td><%= weekend[:go_flight][:flight_no] %></td>
      <td><%= weekend[:return_flight][:flight_no]%></td>
      <td><%= weekend[:go_flight][:airline] %></td>
      <td><%= weekend[:return_flight][:airline]%></td>
      <td><%= weekend[:price]%> €</td>
    </tr>
    <% end %>
  </tbody>
</table>
