<div class="weekends-wrapper">
  <div class="weekends-container">
    <div class="row" id="weekends-container-row">
      <!-- Ajout des loading cards -->
      <%= render 'shared/loading_card' %>
      <%= render 'shared/loading_card' %>
      <%= render 'shared/loading_card' %>
      <%= render 'shared/loading_card' %>
      <%= render 'shared/loading_card' %>
      <%= render 'shared/loading_card' %>
      <%= render 'shared/loading_card' %>
      <%= render 'shared/loading_card' %>
      <%= render 'shared/loading_card' %>
      <%= render 'shared/loading_card' %>
      <%= render 'shared/loading_card' %>
      <%= render 'shared/loading_card' %>
      <div class="loading-card"></div>
    </div>
  </div>
</div>
<%# raise %>
<!-- Ajout des filtres -->
<%= render 'shared/filters' %>

<!-- Ajout des cards weekend (action cable) -->
<% content_for(:after_js) do %>
<script>
  // On s'inscrit au channel weekend lié à notre request
  App.cable.subscriptions.create(
    { channel: 'WeekendsChannel', request_id: "<%= @request_id %>" },
    // Dès qu'on reçoit une card weekend sur ce channel
    {
      received: (data) => {
        // On supprime la première loading card
        document.querySelector(".loading-card").remove();
        // On insère la card weekend juste avant la loading card suivante
        loading_card = document.querySelector(".loading-card")
        loading_card.insertAdjacentHTML('beforebegin', data.content);
        // On fait apparaitre la card weekend receptionné en lui ajoutant une class visible
        cards = document.querySelectorAll('.card-header');
        card = cards[cards.length - 1].parentNode;
        card.classList.remove("card-col-invisible");
        card.classList.add("card-col-visible");

        // Nécessaire à la wish list
        const authToken = document.querySelector('meta[name="csrf-token"]').content;
        document.querySelectorAll('.new_bookmark input[name="authenticity_token"]').forEach((input) => {
          input.value = authToken;
        });
      }
    }
  );
</script>
<% end %>

